header{
  display: flex;
  height: 64px;
  align-items: center;
  padding: 0px 24px;
  width: inherit;
  justify-content: space-between;
}

.logo{
  display: inline-flex;
  align-items: center;
}
.logo p{
  font-size: 24px;
}

.logo img{
  height: 32px;
}

header span{
  margin: 16px;
}
