body{
  margin: 0;
}

header{
  display: flex;
  height: 64px;
  align-items: center;
  padding: 0px 24px;
  width: inherit;
  justify-content: space-between;
}

.logo{
  display: inline-flex;
  align-items: center;
}
.logo p{
  font-size: 24px;
}

.logo img{
  height: 32px;
}

header span{
  margin: 16px;
}

.learn_something{
  height: 650px;
  display: flex;
  flex-direction: row;
  background-color: Gainsboro;
  width: 100%;

}

.learn_something img{
  max-width: 60%;
  min-width: 60%;
  width: 60%;
  margin: 32px 24px;
}

.new_everyday{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button{
  display: inline-block;
  background-color: grey;
}

.button p{
   color: white;
   text-align: center;
}

.info{
  width: inherit;
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  padding-bottom: 32px;

}

.practicing{
  width: 60%;
  display: inline-flex;
  flex-direction: column;
  margin: 0px 24px;

}

.practicing h1{
  margin-top: 32px;
  margin-bottom: 24px;
}

.practicing img{
  height: 470px;
}

.emanuel{
  margin-top: 32px;
}

.categories{
  width: 40%;
  border-left: 2px solid Gainsboro;
  border-top: 3px solid white;
  display: inline-flex;
  flex-direction: column;

}

.category{
  display: flex;
  flex-direction: row;
  padding: 16px;
  justify-content: center;
}

.category.first{
  padding-top: 0px;
  border-bottom: 2px solid Gainsboro;
}

.category.middle{
  margin-top: 1px;
  border-top: 2px solid Gainsboro;
}
.category.last{
  background-color: Gainsboro;
}

.category img{
  width: 35%;
  padding-right: 16px;
}

.about{
  width: 65%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;

}

.about p, h3, a{
  margin: 8px;
}

.about a{
  text-decoration: none;
}

.start-learning{
  
}
