html{
  font-size: 18px;
}

body{
  margin: 0;
  background-color: #deeaee;
}

p, a{
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Merriweather', serif;

}

a{
  text-decoration: none;
}

header{
  display: flex;
  height: 64px;
  max-height: 64px;
  min-height: 64px;
  align-items: center;
  padding: 0px 24px;
  width: inherit;
  justify-content: space-between;
  background-color: #deeaee;

}

nav{
  display: none;
}

header a{
  transition: color .2s linear,
  font-size 1s ease-out;
}

header a:hover{
  color: green;
  font-size: 1.5rem;
}

.logo{
  display: inline-flex;
  align-items: center;
}
.logo p{
  font-size: 24px;
}

.logo img{
  height: 32px;
  max-height: 32px;
  min-height: 32px;
}

header span{
  margin: 16px;
}


.learn_something{
  height: auto;
  display: flex;
  flex-direction: row;
  background-color: #b1cbbb;
  width: 100%;
  max-width: inherit;
  min-width: inherit;

}

.learn_something img{
  max-width: 60%;
  min-width: 60%;
  width: 60%;
  margin: 32px 24px;
}

.new_everyday{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.button{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  width: 100%;
  margin: 0;
  transition: background-color 1s ease-in,
  font-size 1s ease-out;
}

.button:hover{
  font-size: 1.1rem;
  background-color: #deeaee;

}

.button p{
   text-align: center;
}

.info{
  height: auto;
  width: inherit;
  max-width: inherit;
  min-width: inherit;
  display: flex;
  flex-direction: row;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #deeaee

}

.practicing{
  width: 60%;
  display: inline-flex;
  flex-direction: column;
  margin: 0px 24px;
}

.practicing h1{
  margin-top: 32px;
  margin-bottom: 24px;
  background-color: #deeaee
}

.practicing img{
  height: auto;
}

.emanuel{
  margin-top: 32px;
}

.categories{
  width: 40%;
  border-left: 2px solid #b1cbbb;
  display: inline-flex;
  flex-direction: column;

}

.category{
  display: inline-flex;
  flex-direction: row;
  padding: 16px;
  justify-content: center;
  background-color: #deeaee
}

.category a{
  transition: color .2s linear,
  font-size 1s ease-out;
}

.category a:hover{
  color: green;
  font-size: 1.5rem;
}

.category.first{
  padding-top: 0px;
  border-bottom: 1px solid #b1cbbb;
}

.category.middle{
  margin-top: 1px;
  border-top: 1px solid #b1cbbb;
}
.category.dark{
  background-color: #b1cbbb;
}

.category img{
  padding-right: 16px;
  height: auto;
  width: 35%;
}

.about{
  width: 65%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;

}

.about p, h3, a{
  margin: 8px;
}

.start-learning{
  margin-top: 64px;
  padding: 32px 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b1cbbb;
  width: inherit;
}

.start-learning h1{
  margin-bottom: 32px;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  padding-bottom: 24px;
}

.subject{
  width: 30%;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 22px;
  background-color: #deeaee;
  transition: border .2s ease-out;
}

.subject:hover{
  border: 1px solid white;
}

.subject h1{
  display: none;
}

.subject p{
  margin: 8px 16px;
}

.subject img{
  margin-bottom: 16px;
  height: auto;
}

.thesis-exibit{
  display: flex;
  flex-direction: column;
  width: inherit;
}

.title-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
}

.exibit-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 32px;
}

.reimagine{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 24px;
  margin-top: 0px;
  align-items: center;
}

.reimagine video{
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}

.exibit-container .categories{
  height: auto;
  border: none;
}

footer{
  padding: 16px 24px;
  background-color: #b1cbbb
}

@media only screen and (max-width: 480px) {

  html{
    font-size: 12px;
  }

  body{
    width: inherit;
  }
  header{
    display: none;
  }
  nav{
    visibility: visible;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    width: inherit;
  }

  nav img{
    height: 50%
  }


  .learn_something{
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .learn_something img{
    margin: 0px;
    min-width: 100%
  }

  .new_everyday{
    justify-content: center;
    align-items: center;
    margin: 32px 16px;
    min-width: 100%
    padding{
      0px 16px;
    }
  }

  .button{
    margin-top: 24px;
    padding: 0px;
  }

  .button p{
    margin-top: 0px;
    font-size: 18px;
  }

  .button:hover{
    background-color: #deeaee;
    font-size: 18px;

  }

  .new_everyday p{
    margin-top: 32px;
  }

  .practicing{
    display: none;
  }

  .info{
    width: inherit;
    height: auto;
    padding: 0px;
    margin-top: 16px;
  }

  .categories{
    width: inherit;
    min-width: 100%;
    padding: 0px;
    margin: 0px;

  }

  .category{
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
  }

  .category.first, .category.middle{
    border: 0px;
  }

  .category.dark{
    width: 100%;
    background-color: inherit ;
    padding: 0px;
    margin: 0px;
  }

  .category img{
    width: 90%;
    margin: : 0px;
  }

  .about{
    width: inherit;
    align-items: center;
    margin: 0px;
  }

  .start-learning{
    padding: 0px;
    align-items: center;
    width: inherit;
  }

  .start-learning h1{
    border-bottom: 3px solid black;
  }

  .row{
    flex-direction: column;
    max-width: 480px;
    width: inherit;
    min-width: inherit;
    padding: 0px;
    margin: 0px;
    align-items: center;
  }

  .subject{
    max-width: 480px;
    width: 400px;
    min-width: inherit;
    margin: 0px;
    text-align: center;
    align-items: center;
    background-color: inherit;
  }

  .subject h1{
    border: none;
  }

  .subject:active img{
    display: block;
  }

  .subject p{
    display: none;
  }

  .subject h1{
    width: 400px;
    display: block;
  }

  .subject strong{
    display: run-in;
  }

  .subject img{
    width: inherit;
    max-width: inherit;
    display: none;
  }

  .thesis-exibit{
    width: inherit;
    padding: 0px;
    margin: 0px;
  }

  .thesis-exibit .categories{
    display: none;
  }

  .reimagine{
    width: inherit;
    margin: 0px;
  }

  .video{
    width: inherit;
    margin: 0px;
  }


}
